<!DOCTYPE html>
<html lang="en">

<head>
  <title>SE Git Bot</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3> Select your repositories to monitor: </h3>
        <form method="post" action="/webhooks">
          <div>
            <% data.forEach(d => { %>
            </br>
            <input type='checkbox' name=<%=d%> value=<%=d%>> <%=d%> </input> </br>
            <% }) %>
          </div>
          </br>
          <input type="hidden" name="user" value=<%=user%>>
          <input style="float:right;" type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</body>

</html>